{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente</h1>

    <table>
        <tbody>
            <tr>
                <th>Codigosap</th>
                <td>{{ cliente.codigosap }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ cliente.tipo }}</td>
            </tr>
            <tr>
                <th>Facultad</th>
                <td>{{ cliente.facultad }}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{ cliente.departamento }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ cliente.zip }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ cliente.ciudad }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
